@charset "UTF-8";
/* line 17, ../../../../whitered/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../whitered/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../whitered/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../whitered/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../whitered/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../whitered/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../whitered/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../whitered/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../whitered/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../../app/assets/stylesheets/clock.scss */
body.clocks {
  color: #666;
}
/* line 19, ../../app/assets/stylesheets/clock.scss */
body.clocks .hoverable {
  visibility: hidden;
}
/* line 20, ../../app/assets/stylesheets/clock.scss */
body.clocks .hover .hoverable {
  visibility: visible;
}
/* line 21, ../../app/assets/stylesheets/clock.scss */
body.clocks .editing .hoverable {
  visibility: hidden;
}
/* line 23, ../../app/assets/stylesheets/clock.scss */
body.clocks .chips::after {
  content: "⛁";
}
/* line 27, ../../app/assets/stylesheets/clock.scss */
body.clocks .editable input {
  display: none;
}
/* line 31, ../../app/assets/stylesheets/clock.scss */
body.clocks .editable.editing input {
  display: inline;
}
/* line 32, ../../app/assets/stylesheets/clock.scss */
body.clocks .editable.editing .display {
  display: none;
}
/* line 35, ../../app/assets/stylesheets/clock.scss */
body.clocks #undo {
  display: none;
  position: absolute;
  width: 100%;
  background: #ccc;
  text-align: center;
}
/* line 45, ../../app/assets/stylesheets/clock.scss */
body.clocks #undo .undo {
  float: right;
}
/* line 50, ../../app/assets/stylesheets/clock.scss */
body.clocks #timer {
  margin-bottom: 3em;
  text-align: right;
  width: 50%;
}
/* line 58, ../../app/assets/stylesheets/clock.scss */
body.clocks #timer time {
  display: block;
}
/* line 60, ../../app/assets/stylesheets/clock.scss */
body.clocks #timer #round_time_left {
  font-size: 10em;
  line-height: 1;
  cursor: pointer;
}
/* line 66, ../../app/assets/stylesheets/clock.scss */
body.clocks #timer #round_time_left.running {
  color: #6c6;
}
/* line 75, ../../app/assets/stylesheets/clock.scss */
body.clocks #info {
  float: right;
  clear: right;
  margin-bottom: 3em;
}
/* line 82, ../../app/assets/stylesheets/clock.scss */
body.clocks #players {
  margin-bottom: 3em;
}
/* line 87, ../../app/assets/stylesheets/clock.scss */
body.clocks #players th {
  padding: 0 0.5em;
}
/* line 89, ../../app/assets/stylesheets/clock.scss */
body.clocks #players .hidden {
  visibility: hidden;
}
/* line 91, ../../app/assets/stylesheets/clock.scss */
body.clocks #players .hover .hidden {
  visibility: visible;
}
/* line 95, ../../app/assets/stylesheets/clock.scss */
body.clocks #levels {
  float: right;
  clear: right;
  margin-bottom: 3em;
  text-align: right;
}
/* line 102, ../../app/assets/stylesheets/clock.scss */
body.clocks #levels ul {
  list-style: none;
  line-height: 1;
}
/* line 108, ../../app/assets/stylesheets/clock.scss */
body.clocks #levels li.current .blinds, body.clocks #levels li.current input {
  font-weight: bold;
  font-size: 6em;
  line-height: 0.8;
}
/* line 116, ../../app/assets/stylesheets/clock.scss */
body.clocks #levels li.next .blinds, body.clocks #levels li.next input {
  font-size: 2em;
  line-height: 0.8;
}
/* line 122, ../../app/assets/stylesheets/clock.scss */
body.clocks #levels .editing .display, body.clocks #levels .edit {
  display: none;
}
/* line 126, ../../app/assets/stylesheets/clock.scss */
body.clocks #levels .editing .edit {
  display: inline;
}
/* line 131, ../../app/assets/stylesheets/clock.scss */
body.clocks #payouts {
  float: right;
  clear: right;
  margin-bottom: 3em;
}
/* line 136, ../../app/assets/stylesheets/clock.scss */
body.clocks #payouts ol {
  list-style: upper-roman inside;
}
/* line 140, ../../app/assets/stylesheets/clock.scss */
body.clocks #payouts li input {
  display: none;
}
/* line 142, ../../app/assets/stylesheets/clock.scss */
body.clocks #payouts li.editing .display {
  display: none;
}
/* line 143, ../../app/assets/stylesheets/clock.scss */
body.clocks #payouts li.editing input {
  display: inline;
}
/* line 147, ../../app/assets/stylesheets/clock.scss */
body.clocks #footer {
  clear: both;
  width: 100%;
  text-align: center;
  font-size: 0.7em;
}
