<span class="display hoverable" title="<%= formula %>">
  <%= value %>
  <a href="#" class="action hovervisible remove"><%= I18n.t('clocks.payouts.remove') %></a>
</span>
<input type="text" value="<%= formula %>" />
