<div id="round_time_left" title="<%= I18n.t('clocks.timer.click_to_toggle') %>" />
<div><%= I18n.t('clocks.timer.game_time') %>: <span id="game_time" /></div>
<div><%= I18n.t('clocks.timer.level_duration') %>: <span id="level_duration" /></div>
