/*
 *= require 'bootstrap'
 */

$hovered: #FFC;
$stoppedTimer: #999;
$actionsBackground: white;
$actionsBorder: lightgray;
$actionsShadow: #999;

body.clocks {

  #firstrow {
    margin-top: 3em;
    margin-bottom: 3em;
  }


  .hoverable .hovervisible { visibility: hidden; }

  .hoverable:hover {
    .hovervisible { visibility: visible; }
  }

  .hoverable.hoverhighlight:hover, .hoverable:hover .hoverhighlight {
    background: $hovered;
    border-radius: 2px;
  }

  .editing .hovervisible { visibility: hidden; }

  .editable {
    input { display: none; }
  }

  .editable.editing {
    input { display: inline; }
    .display { display: none; }
  }

  .editable.hover .display {
    text-decoration: underline;
  }

  ul.actions {
    list-style: none;
    text-align: left;
    margin: 0;
    display: inline-block;
    padding: 0 0.5em;
    position: absolute;
    border-radius: 2px;
    background: $actionsBackground;
    border: 1px solid $actionsBorder;
    box-shadow: 1px 1px 2px $actionsShadow;
    z-index: 1;
  }

  a.action {
    @extend ul.actions;
    cursor: pointer;
  }

  #undo { 
    position: absolute;
    .alert {
      .undo { float: right; }
      .close { line-height: inherit; }
    }
  }

  #timer {

    #round_time_left { 
      font-size: 12em;
      line-height: 1;
      cursor: pointer;
      color: $stoppedTimer;
    }

    #round_time_left.running {
      color: inherit;
    }

    #game_time {
    }

    #level_duration_input {
      display: inline;
      width: 5em;
    }

  }

  #info {
    table.rebuys tr.no-rebuys,
    table.no-rebuys tr.rebuys,
    table.addon tr.no-addon,
    table.no-addon tr.addon { display: none; }

    table {
      tr {
        td:last-child { text-align: right; }

        td {
          input {
            display: inline;
            width: 3em;
          }
        }
      }
    }

  }

  #players {

    table {
      th, td { text-align: right; }
      th.name, td.name, th.place, td.place { text-align: left; }
    }

    table.no-rebuys .rebuys,
    table.no-addon .addon { display: none; }

  }

  #levels {

    text-align: right;

    >ul {
      list-style: none;

      >li {
        line-height: 1.2;

        input {
          display: inline;
          width: 5em;
        }
      }

      li.current {
        .blinds, input { 
          font-size: 5em;
          height: auto;
        }
      }

      li.next {
        .blinds, input {
          font-size: 2em;
          height: auto;
        }
      }
    }
  }

  #payouts {

    ol {
      padding-top: 8px;

      li {
        line-height: normal;

        input {
          display: inline;
          width: 5em;
        }

        span.amount { font-size: 1.5em; }
      }

      li:first-child {
        span.amount { font-size: 2em; }
      }

      li:first-child ul.actions a.up { display: none; }
      li:last-child ul.actions a.down { display: none; }
    }

  }

  footer {
    text-align: center;
    font-size: 0.7em;
  }

}
