/*
 *= require 'bootstrap'
 */

body.clocks {

  //[class*="span"] {
    //background: lightgray;
  //}

  #firstrow {
    margin-top: 2em;
    margin-bottom: 2em;
  }


  .hoverable { visibility: hidden; }
  .hover .hoverable { visibility: visible; }
  .editing .hoverable { visibility: hidden; }

  .editable {
    input { display: none; }
  }

  .editable.editing {
    input { display: inline; }
    .display { display: none; }
  }

  .editable.hover .display {
    text-decoration: underline;
  }

  .editable .display {
    color: darkblue;
  }

  a.change {
    display: inline-block;
    padding: 0 0.5em;
    position: absolute;
    background: darkred;
    color: white;
    border-radius: 2px;
    cursor: pointer;
  }

  #undo { 
    position: absolute;
    .undo {
      float: right;
      color: white;
      margin-right: 1em;
    }
  }

  #timer {

    text-align: right;

    #round_time_left { 
      font-size: 12em;
      line-height: 1;
      cursor: pointer;
    }

    #round_time_left.running {
      color: #6c6;
    }

    #game_time {
    }

  }

  #info {
  }

  #players {
  }

  #levels {

    text-align: right;

    ul {
      list-style: none;
      line-height: 1;
    }

    li.current {
      .blinds, input { 
        font-weight: bold; 
        font-size: 6em;
        line-height: 0.8;
        height: auto;
      }
    }

    li.next {
      .blinds, input {
        font-size: 2em;
        line-height: 0.8;
        height: auto;
      }
    }

    .editing .display, .edit {
      display: none;
    }

    .editing .edit {
      display: inline;
    }
  }

  #payouts {

    ol {
      list-style: upper-roman inside;
    }

    li input { display: none; }
    li.editing {
      .display { display: none; }
      input { display: inline; }
    }
  }

  footer {
    text-align: center;
    font-size: 0.7em;
  }

}
