/*
 *= require 'bootstrap'
 */

$hovered: #FFC;
$runningTimer: #363;
$actionsBackground: white;
$actionsBorder: lightgray;
$actionsShadow: #999;

body.clocks {

  #firstrow {
    margin-top: 2em;
    margin-bottom: 2em;
  }


  .hoverable .hovervisible { visibility: hidden; }

  .hoverable:hover {
    .hovervisible { visibility: visible; }
  }

  .hoverable.hoverhighlight:hover, .hoverable:hover .hoverhighlight {
    background: $hovered;
  }

  .editing .hovervisible { visibility: hidden; }

  .editable {
    input { display: none; }
  }

  .editable.editing {
    input { display: inline; }
    .display { display: none; }
  }

  .editable.hover .display {
    text-decoration: underline;
  }

  ul.actions {
    list-style: none;
    text-align: left;
    margin: 0;
    display: inline-block;
    padding: 0 0.5em;
    position: absolute;
    border-radius: 2px;
    background: $actionsBackground;
    border: 1px solid $actionsBorder;
    box-shadow: 1px 1px 2px $actionsShadow;
  }

  a.action {
    @extend ul.actions;
    cursor: pointer;
  }

  #undo { 
    position: absolute;
    .undo {
      float: right;
      color: white;
      margin-right: 1em;
    }
  }

  #timer {

    #round_time_left { 
      font-size: 12em;
      line-height: 1;
      cursor: pointer;
    }

    #round_time_left.running {
      color: $runningTimer;
    }

    #game_time {
    }

  }

  #info {
  }

  #players {
    //th { padding-top: 0 }
    th, td { text-align: right; }
    th.name, td.name { text-align: left; }
  }

  #levels {

    text-align: right;

    >ul {
      list-style: none;

      >li { line-height: 1.2; }

      li.current {
        .blinds, input { 
          font-weight: bold; 
          font-size: 5em;
          height: auto;
        }
      }

      li.next {
        .blinds, input {
          font-size: 2em;
          height: auto;
        }
      }
    }

    .editing .display, .edit {
      display: none;
    }

    .editing .edit {
      display: inline;
    }
  }

  #payouts {

    ol {
      //list-style: upper-roman inside;

      padding-top: 8px;

      li input { display: none; }
      li.editing {
        .display { display: none; }
        input { display: inline; }
      }
    }

  }

  footer {
    text-align: center;
    font-size: 0.7em;
  }

}
